html,body,h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    overflow:scroll;
}
body{
    
}

/***************************
********Container***********
***************************/
main{
    background: url(../img/BackGround_Header.jpg);
    padding-top:2rem;
    max-width: 100%;
    padding-bottom: 1rem;
}
.wrap{
    width: 114rem;
    max-width: 100%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    &-logo{
        max-width: 28.6rem;
        width: 100%;
    }
    &-nav{
        &-list{
            display: flex;
            &-link{
                font-size: 1.5rem;
                font-weight: 800;
                text-transform: uppercase;
                padding-right: 1.5rem;
                list-style-type: none;
                &-item{ 
                    color:#FDF4DE;
                    text-decoration: none;
                }
                &-item:hover{
                    color:yellow;
                    border-bottom: 0.3rem solid yellow;
                }
            }
            &-link:hover{
                .header-nav-sublist{
                display: block;
                }
            }
        }
        &-sublist{
            display: none;
            position: absolute;
            padding-left: 0px;

            &-sublink{
                font-size: 1.3rem;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0.7rem;
                list-style-type:none;

                &-item{
                    color: #fff;
                    text-decoration: none;
                }
                &-item:hover{
                    color: yellow;
                    border-bottom: 0.2rem solid yellow;
                }
            }    
        }  
    }
}

.main{
    &-text{
        text-align: center;

        &-title{
            font-size: 12rem;
            font-weight: 700;
            text-transform: uppercase;
            background: linear-gradient(81.01deg, #D3C67D 0%, #FFFFFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 8.5rem;
        }
        &-subtitle{
            margin: 0 auto;
            margin-top: 6rem;
            width: 60.7rem;
            font-family: 'Kaushan Script', cursive;
            font-size: 5.5rem;
            text-transform: uppercase;
            background: linear-gradient(267.72deg, #D3C67D 0%, #FFFFFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &-button{
        width: 28.5rem;
        height: 7rem;
        margin: 0 auto;
        margin-top: 10rem;
        margin-bottom: 10rem;
        background: linear-gradient(93.35deg, #D3C67D 0%, #FFFFFF 100%);
        border: 0.5px solid #000000;
        border-radius: 0.5rem;
        text-align: center;
        cursor: pointer;

        &-text{
            line-height: 7rem;
            font-size: 2.1rem;
            font-weight: 800;
            color: #384490;
            text-transform: uppercase;}
    }
    
}

.sector-slider{
    
    padding: 6rem 0;
    background: linear-gradient(250.47deg, #FDF4DE 66.68%, #FFFFFF 100%);

    &-box{
        min-width: 0;
        display: flex;
        max-width: 100%;
        width: 90rem;
        height: 30rem;
        margin: 0 auto;
        &-item{
            text-align: center;
            align-items: center;
            align-content: center;
            height: 25rem;
            width: 20rem;
            margin: 2.5rem auto;
            box-shadow:0rem 0rem 1rem #000;
            &-img{
                margin: 0 auto;
                width: 100%;
                max-width: 12.8rem;
                margin-top: 1rem;
            }
            &-text{
                margin-top: 1.5rem;
                font-size: 1.5rem;
                font-weight: 700;
                color: #384490;
            }
        }
    }
}

.slick-list{
    overflow: hidden;
}

.slick-track{
    display: flex;
}

.slick-arrow{
    font-size: 0rem;
    border: none;
    cursor: pointer;
    
}
.slick-arrow:active, .slick-arrow:focus{
    outline: none;
    cursor: pointer;

}

.slick-prev{
    background: url(../img/left-arrow.svg) center no-repeat;
    max-width: 3rem;
    max-height: 3rem;
    width: 100%;
    height: 100%;
    margin: auto 0;

}
.slick-next{
    background: url(../img/right-arrow.svg) center no-repeat;
    max-width: 3rem;
    max-height: 3rem;
    width: 100%;
    height: 100%;
    margin: auto 0;
}


.sector-forms{
    padding: 6rem 0;
    background: linear-gradient(250.47deg, #FDF4DE 66.68%, #FFFFFF 100%);

    &-box{
        display: flex;
        max-width: 100%;
        width: 90rem;
        height: 30rem;
        margin: 0 auto;

        &-item{
            text-align: center;
            height: 25rem;
            width: 20rem;
            margin: 2.5rem auto;
            box-shadow:0rem 0rem 1rem #000;

            &-title{
                margin-top: 1.5rem;
                font-size: 2.0rem;
                font-weight: 700;
                color: #384490;
            }

            &-subtitle{
                font-size: 1.5rem;
                font-weight: 500;
                color: #384490;
                text-align: left;
            }



        }
    }
}


.sector-info{
    background: linear-gradient(250.47deg, #FFFFFF 0%, #384490 33%);
    padding: 6rem 0;
    &-box{

        &-title{
            text-align: center;
            &-text{
                margin-top: 1.5rem;
                font-size: 3rem;
                font-weight: 700;
                color: #FDF4DE;
            }
        }
        &-subtitle{
            display: flex;
            margin-top: 5rem;
            text-align: left;
            justify-content: space-between;
            align-items: center;
            &-text{
                color: #FDF4DE;
                font-size: 1.9rem;
                font-weight: 500;
            }
        }
        &-img{
         width: 50rem;

        }
    }


}
.main-galery{
    background: linear-gradient(250.47deg, #FFFFFF 0%, #384490 15%);
}
.header-galery{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
.page-galery{
    background: linear-gradient(250.47deg, #FDF4DE 66.68%, #FFFFFF 100%);
    &-title{
        text-align: center;
        margin-bottom: 4rem;
        padding-top: 3rem;
        &-text{
            font-size: 7rem;
            font-weight: 700;
            color: #384490;
        }
    }
    &-forms{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-column-gap: 2.5rem;
        grid-row-gap: 2.5rem;
        padding-bottom: 4rem;
        &-box{
            position: relative;
            &-img{
                max-width: 100%;
            }
            &-overlay{
                position: absolute;
                bottom: 100%;
                left: 0;
                right: 0;
                overflow: hidden;
                width: 100%;
                height:0;
                transition: .5s ease;
                background: #384490;
                &-text{
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    text-align: center;
                    color: #D3C67D;
                }
            }            
        }
    }
}
.page-galery-forms-box:hover .page-galery-forms-box-overlay{
    bottom: 70%;
    height:30%;
}
































































@media (max-width:920px) {

    .sector-slider-box{
        width: 75rem;
        &-item{
            width: 15rem;
            height: 20rem;
        }
    }

}

@media (max-width:750px) {
    html{

        font-size: 5px;
    }  
    .page-galery-forms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2.5rem;
        grid-row-gap: 2.5rem;
        padding-bottom: 4rem;
    }
}
@media (max-width:450px) {
    html{
    font-size: 3px;
    }
    .page-galery-forms {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 2.5rem;
        grid-row-gap: 2.5rem;
        padding-bottom: 4rem;
    }
}